{% extends 'base.html.twig' %}

{% block title %}AppModules{% endblock %}

{% block body %}
    <h1>Importer un CSV</h1>

    {{ form_start(form) }}
        {{ form_row(form.File) }}
    {{ form_end(form) }}
{% endblock %}