{% extends 'base.html.twig' %}

{% block title %}AppModules{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <!--Nom Module-->
    <div class="col-12">
        <h4 class="text-secondary mt-5" >{{ module.PPN }} - {{ module.intitule }}</h4>
        {% for responsable in responsables %}
            <p class="text-body m-0">{{ responsable.nom }} {{ responsable.prenom }}</p>
        {% endfor %}
    </div>

    <ul class="nav nav-tabs justify-content-around">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Organisation"><h4 class="text-secondary m-0">Organisation</h4></a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Information"><h4 class="text-secondary m-0">Information</h4></a>
        </li>
    </ul>


{% endblock %}